@import "tailwindcss";

:root {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

