@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-blue-dark: #003366;
  --color-tech-blue-light: #0077ff;
  --color-color-yellow: #ffd93d;
  /* Texts Colors */
  --color-color-dark-gray: #1f1f1f;
  --color-white: #ffffff;
  /* Social-links-mode */
  --color-gradient-social-links-light-mode: linear-gradient(180deg,#ffd93d 100%,#ffd93dcc 100%);
   --color-gradient-social-links-dark-mode: linear-gradient(180deg,#0077ff 100%,#0077ffcc 100%);
  /* Fonts */
  --font-Poppins: 'Poppins', sans-serif;
  --font-Nunito: 'Nunito', sans-serif;

  /* bg immage */
  --bg-image: url('./assets/bg-yellowbagedu.png');
}

@layer utilities {
  .bg-gradient-01 {
    background: var(--color-gradient-social-links-dark-mode);
  }

  .bg-gradient-02 {
    background: var(--color-gradient-social-links-light-mode);
  }

  .bg-image {
    background-image: url('./assets/bg-yellowbagedu.png');
  }
}