@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh; /*Ocupa toda a tela*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-gradient-01: linear-gradient(180deg, #ff7a00 30%, #ffd93d 40%);
  --color-gradient-02: linear-gradient(90deg, #003366 10%, #ffd93dA6 60%);
  --color-color-blue-dark: #003366;
  --color-tech-blue-light: #0077ff;
  /* Social-links-light-mode */
  --color-gradient-social-links-light-mode: linear-gradient(180deg,#ffd93d 100%,#ffd93dcc 100%);
  /* Texts Colors */
  --color-color-dark-gray: #1f1f1f;
  --color-color-light-white: #ffffff;
  /* Social-links-dark-mode */
  --color-gradient-social-links-dark-mode: linear-gradient(180deg,#0077ff 100%,#0077ffcc 100%);
  --color-color-yellow: #ffd93d;
  /* Modais claros */
  --color-modal-lafoca-light: #ce8830;
  --color-modal-shmusic-light: #ff9149;
  --color-modal-networking-light: #ffd93d;
  --color-modal-about-yellowbagedu-light: #ffd93d;
  /* Modais escuros */
  --color-modal-lafoca-dark: #4d4d4d;
  --color-modal-shmusic-dark: #28279f;
  --color-modal-networking-dark: #003366;
  --color-modal-about-yellowbagedu-dark: #003366;
  /* Fonts */
  --font-Poppins: 'Poppins', sans-serif;
  --font-Nunito: 'Nunito', sans-serif;

  /* bg immage */
  --bg-image: url('./assets/bg-yellowbagedu.png');
}

@layer utilities {
  .bg-gradient-01 {
    background: var(--color-gradient-social-links-dark-mode);
  }

  .bg-gradient-02 {
    background: var(--color-gradient-social-links-light-mode);
  }

  .bg-image {
    background-image: url('./assets/bg-yellowbagedu.png');
  }
}